* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: black;
  background: #dddddd;
}

body {
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.loginContainer {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  border-radius: 15px;
  border: 3px solid #00376f;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background: #77c7f7;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: black;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 16px;
}

textarea:focus {
  outline: 3px solid #0676ff;
}

label,
button {
  margin-top: 1rem;
}

.buttonFailure {
  padding: 0.5rem;
  width: 120px;
}

.buttonSuccess {
  padding: 0.5rem;
  width: 120px;
  border: 2px solid green;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

h1 {
  display: flex;
  justify-content: center;
}
