* {
  overflow: hidden;
  
}

.headerWrapper {
  display: flex;
  width: 100vw;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  background-color: navajowhite;
}

.left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
.right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 30px;
}

.title {
  margin-left: 7vw;
  font-size: 56px;
}
.linkSpan {
  transition: 0.5s;
  border-radius: 10px;
  margin-right: 4vw;
  padding: 4px;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
}

.linkSpan:nth-child(2) {
  background: yellow;
  padding-left: 8px;
  padding-right: 8px;
}

.linkSpan:nth-child(1):hover {
  border-radius: 10px;
  background: #b4b4b4;
}

.linkSpan:nth-child(2):hover {
  transition: 0.5s;
  background: #ffff64;
}

.link {
  text-decoration: none;
}
