.sidebar {
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 375px;
  height: calc(100vh - 60px);
  background: #aee2ff;
  overflow-y: hidden;
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e6f7ff;
}

::-webkit-scrollbar-top {
  background: #eeeeee;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.recProfiles {
  color: #1DA1F2;
  margin: 10px 0px 0px 10px;
}

.followSuggestion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 375px;
  gap: 20px;
  margin: 15px 0 15px 0;
  
}

