.sidebar {
  flex: 1;
  height: calc(100vh - 60px);
  background: #aee2ff;
  border-right: 2px solid #005ebb;
  overflow-y: hidden;
  overflow-x: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e6f7ff;
}

::-webkit-scrollbar-top {
  background: #eeeeee;
}

.sidebarWrapper {
  padding: 0px 5px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.followSuggestion {
  display: flex;
  flex-direction: column;
  width: 80%;
}
