.post {
  width: 55%;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.37);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-weight: 500;
  font-size: 15px;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.postImg {
  border: 3px solid #7e7e7e;
  display: flex;
  margin-top: 20px;
  width: 90%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
  align-self: center;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.likeIcon:nth-child(1) {
  color: #4aa5ff;
}

.likeIcon:nth-child(1):focus {
  color: #006bd7;
  outline: none;
}

.likeIcon:nth-child(2) {
  color: #ff8c8f;
}

.likeIcon:nth-child(2):focus {
  color: #ff373d;
  outline: none;
}

.postlikeCounter {
  font-size: 15px;
}

.postCommentText {
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px dashed gray;
}
